<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mb-9">
     <br>
     <h1 class="text-center">Hello Tabilog!</h1><br>
     <p class="text-center">Tabilogへようこそ！<br>
     Tabilogはあなたの旅を記録し、<br>
     「次に旅する人」の旅をお手伝いする<br>
     旅でつながるコミュニケーションツールです</p><br>
     <%= link_to "Tabilogをはじめる", new_member_registration_path, class: "btn btn-success btn-block" %>
    </div>
  </div>
</div>
