<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-12 col-md-8 col-lg-12 px-5 px-sm-0 mb-9">
      <br>
      <h1 class="text-center">Tabilogへようこそ！</h1><br>
      
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
            <div class="card d-flex flex-column h-100">
              <% if post.image.present? %>
                <%= link_to post_path(post.id) do %>
                  <%= image_tag post.image, class: "card-img-top img-fluid rounded", width: 400, height: 350 %>
                <% end %>
              <% end %>

              <div class="card-body flex-fill">
                <p class="strong"><%= post.title %></p>
                <p><%= post.member.name %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
